<div *ngIf="estate">
   <div class="w3-container w3-center camsgo-2-color w3-border-0">
      <h3>Estate: {{estate.estateNumber}}</h3>
   </div>
   <div class="w3-bar camsgo-4-color">
      <a routerLink="names" class="w3-bar-item camsgo-4-color w3-button" [class.w3-grey]="selectedTab === '1'" (click)="selectTab('1')">
         Names
      </a>
      <a routerLink="ids" class="w3-bar-item w3-hide-small camsgo-4-color w3-button" [class.w3-grey]="selectedTab === '2'" (click)="selectTab('2')">
         Identifiers
      </a>
      <a routerLink="casenotes" class="w3-bar-item w3-hide-small camsgo-4-color w3-button" [class.w3-grey]="selectedTab === '3'" (click)="selectTab('3')">
         Case Notes
      </a>
      <a class="w3-bar-item w3-right w3-hide-large w3-hide-medium" onclick="openTabs()">&#9776;</a>
   </div>
   <div id="tabMenu2" class="w3-bar-block w3-hide w3-hide-large w3-hide-medium camsgo-4-color">
      <a routerLink="ids" class="w3-bar-item w3-button camsgo-4-color" onclick="openTabs()"  [class.w3-grey]="selectedTab === '2'" (click)="selectTab('2')">
         Identifiers
      </a>
      <a routerLink="casenotes" class="w3-bar-item w3-button camsgo-4-color" onclick="openTabs()" [class.w3-grey]="selectedTab === '3'" (click)="selectTab('3')">
         Case Notes
      </a>
   </div>
   <router-outlet></router-outlet>
   <div class="w3-container w3-padding">
      <button routerLink="">Back</button>
      <button class="w3-right" onclick="document.getElementById('modalNewId').style.display='block'">Add</button>
      <!-- <button class="w3-right" (click)="post()" style="margin-right: 5px;" disabled>Post</button> -->
   </div>
   <div id="modalNewId" class="w3-modal">
      <div class="w3-modal-content w3-animate-zoom w3-card-4">
         <header class="w3-container camsgo-2-color"> 
            <span onclick="document.getElementById('modalNewId').style.display='none'" 
            class="w3-button w3-display-topright">&times;</span>
            <h2>Identifier Details</h2>
         </header>
         <div class="w3-container w3-padding-16">
            <div class="w3-row-padding">
               <div class="w3-col m6 s12 l6">
                  <label>Type: </label>
                  <select class="w3-select w3-border" #idType>
                     <option value="default" disabled selected>
                        Choose your option
                     </option>
                     <option *ngFor="let code of idTypes" 
                     [value]="code.appCode">
                        {{ code.description }}
                     </option>
                  </select>
               </div>
               <div class="w3-col m6 s12 l6">
                  <label>Issue Date: </label>
                  <input class="w3-input w3-border" type="date" #issueDate>
               </div>
            </div>
            <div class="w3-row-padding">
               <div class="w3-col m6 s12 l6">
                  <label>No.: </label>
                  <input class="w3-input w3-border" type="text" placeholder="ID Number" #clidNumber>
               </div>
               <div class="w3-col m6 s12 l6">
                  <label>Issuing Authority: </label>
                  <input class="w3-input w3-border" type="text" placeholder="Issued By" #issuingAuthority>
               </div>
            </div>
            <div class="w3-row-padding">
               <div class="w3-col m6 s12 l6">
                  <label>Expiration Date: </label>
                  <input class="w3-input w3-border" type="date" #expirationDate>
               </div>
               <div class="w3-col m6 s12 l6" style="padding-top:24px; margin-bottom:24px;">
                  <label>Verified: </label>
                  <input class="w3-check" type="checkbox" #verified>
               </div>
            </div>
            <div class="w3-row-padding">
               <div class="w3-col">
                  <label>Comments:</label>
                  <textarea class="w3-input w3-border" #comments></textarea>
               </div>
            </div>
            <div class="w3-row-padding w3-margin-top">
               <button class="w3-button w3-right w3-border camsgo-4-color" 
               onclick="document.getElementById('modalNewId').style.display='none'"
               (click)="add(idType.value, issueDate.value, clidNumber.value, 
               issuingAuthority.value, expirationDate.value, verified.checked, comments.value);
               idType.value='default'; issueDate.value = ''; clidNumber.value = '';
               issuingAuthority.value=''; expirationDate.value=''; verified.checked=false;
               comments.value='';">
                  Add
               </button>
            </div>
         </div>
      </div>
   </div>
</div>
