<div class="w3main">
   <div class="w3-col w3-container w3-hide-large camsgo-1-color" style="width:40px; padding-left:5px" onclick="w3_open()">
      <h1>&#9776;</h1>
   </div>
   <div class="w3-container w3-rest camsgo-1-color" style="padding-left:20px;">
      <h1>{{title}}</h1>
   </div>
</div>
<div class="w3-sidebar w3-bar-block w3-collapse w3-card w3-dark-grey" style="width:200px;" id="mySidebar">
   <button class="w3-bar-item w3-button w3-hide-large"
   onclick="w3_close()">Close &times;</button>
   <a class="w3-bar-item w3-button" href="/estates" #nav1>Estates</a>
   <a class="w3-bar-item w3-button" href="/getEstate" #nav2>Download</a>
</div>
<div class="w3-main" style="margin-left:200px">
   <router-outlet></router-outlet>
</div>