<div *ngIf="estate">
   <h2>{{estate.estateNumber}} details!</h2>
   <div>
      <label>id: </label>{{estate.id}}
   </div>
   <div>
      <table>
         <tr>
            <td><label>Estate Number: </label></td>
            <td><input [(ngModel)]="estate.estateNumber" placeholder="number"/></td>
         </tr>
         <tr>
            <td><label>Court Case Number: </label></td>
            <td><input [(ngModel)]="estate.courtCaseNo" placeholder="courtcase"/></td>
         </tr>
      </table>
   </div>
   <button (click)="goBack()">Back</button>
   <button (click)="save()">Save</button>
</div>