<div *ngIf="estate">
   <h2>{{estate.estateNumber}} details</h2>
   <div>
      <label>id: </label>{{estate.id}}
   </div>
   <div>
      <table>
         <tr>
            <td><label>Estate Number: </label></td>
            <td><input [(ngModel)]="estate.estateNumber" placeholder="number"/></td>
         </tr>
         <tr>
            <td><label>Court Case Number: </label></td>
            <td><input [(ngModel)]="estate.courtCaseNo" placeholder="courtcase"/></td>
         </tr>
         <div *ngFor="let name of estate.names">
            <tr>
               <td><label>First Name:</label></td>
               <td><input [(ngModel)]="name.firstName" placeholder="first" /></td>
            </tr>
            <tr>
               <td><label>Last Name:</label></td>
               <td><input [(ngModel)]="name.lastName" placeholder="last" /></td>
            </tr>
         </div>
         <div *ngFor="let id of estate.identifiers">
            <tr>
               <td><label>ID:</label></td>
               <td><input [(ngModel)]="id.id" placeholder="id" /></td>
            </tr>
            <tr>
               <td><label>ID Number:</label></td>
               <td><input [(ngModel)]="id.clidNumber" placeholder="number" /></td>
            </tr>
            <tr>
               <td><label>Authorized By:</label></td>
               <td><input [(ngModel)]="id.issuingAuthority" placeholder="authority" /></td>
            </tr>
         </div>
      </table>
   </div>
   <button (click)="goBack()">Back</button>
   <button (click)="save()">Save</button>
   <button (click)="post()">Post</button>
</div>